<ClubLMWeb.DevLayoutComponent.dev_layout
  current_page={:dev_sent_emails}
  current_user={@current_user}
  color_scheme={@color_scheme}
>
  <div class="bg-white">
    <.alert color="info" with_icon label="To see emails here, you must peform an action e.g change email" />
    <iframe class="w-full h-screen px-12 pt-10 overflow-auto" src="/dev/mailbox"></iframe>
  </div>
</ClubLMWeb.DevLayoutComponent.dev_layout>
