<h1>Change your email</h1>

<p>Touch the button below to change your email.</p>

<EmailHelpers.button_centered to={@url}>
  Change email
</EmailHelpers.button_centered>

<p class="sub">
  If you didn't request this change, please ignore this.
</p>
