<h1>Let's verify your account</h1>

<p>Touch the button below to verify your account</p>

<EmailHelpers.button_centered to={@url}>
  Verify account
</EmailHelpers.button_centered>

<p class="sub">
  If you didn't create an account with us, please ignore this.
</p>
