<h1>Reset password</h1>

<p>Touch the button below to reset your password.</p>

<EmailHelpers.button_centered to={@url}>
  Reset password
</EmailHelpers.button_centered>

<p class="sub">
  If you didn't request this change, please ignore this.
</p>
